.box{
    border: 1px solid silver;
}
.navbar{
    border-color: silver;
}

.user-profile-post-picture-container {
    float:left;
}

.post-body{
    overflow: hidden;
}
.post-attachment{

    margin-top:5px;
    margin-bottom:5px;
}

.user-profile-post-picture {
    margin-right: 10px; 
    margin-top: 5px; 
}
#top{
    margin-bottom: 10px;
}
.post{

    border-top: 1px solid #E7E7E7;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-heading{
    margin-top:0px;
}

.post-subheading{
    color:#898F9C;
    font-size:13px;
}

.ask-the-mind-container {
    padding: 5px;
    padding-bottom: 15px;
}
.ask-the-mind-container-buttons{

}
.post-comment-container{
    border-top: 1px solid #E7E7E7;
    margin-top: 5px;
    padding: 2px;

}
.user-profile-comment-picture-container {
    float:left;
}

.comment-body{
    overflow: hidden;
}


/*
.navbar{
	background-color: white;
    border-color: white;
    color: #FFFFFF;	
}

.navbar-inverse .navbar-brand {
    color: black;
}

#searchOutter{
	text-align: center;

}

.navbar {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: 1px 1px 2px #808080;
    color: #FFFFFF;
}

html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
#footer {
    background-color: #F5F5F5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
code {
    font-size: 80%;
}
*/





